body {
    background-color: #F9F9FB;
    font-family: 'Noto Sans', sans-serif;
    padding-left: 500px;
    padding-top: 50px;
}

.notification {
    background-color: white;
    padding: 3em;
    width: 400px;
    text-align: left;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
}

img {
    height: 70px;
}

#login {
    color: rgb(50, 161, 198);
}

.boton-inicio {
    border-radius: 8px;
    background-color: #5797E4;
    width: 10em;
    padding: 1em;
    text-align: center;
    color: white;
}
